@charset "UTF-8";

article, aside, footer, header, main, nav, section {
	display:block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
	padding: 0; 
	margin: 0;
}

body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  font-family: Georgia;
  font-size: 15px;
}

.banner {
  background-color: white;
  color: black;
  padding: 10px 10px;
}

nav {
  width: 620px;
  background-color: #DFDEDE;
  padding: 10px;
  margin-top: 1px;
}

li a {
  color: white;
}

li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-family: Georgia;
}

section {
  background-color: #DFDEDE;
  margin-top: 10px;
  padding: 5px;
}

article {
  background-color: white;
  margin-top: 5px;
  padding: 10px 15px;
}

main {
  width: 640px;
  float: left;
  margin-bottom: 10px;
}

aside {` 
  background-color: #DFDEDE;
  width: 270px;
  float: right;
  padding: 0px;
  margin-top: 0px;
}

footer {
  clear: both;
  background-color: #DFDEDE;
  color: white;
  padding: 5px 20px;
}










